<div id="pitnav">
    <ul id="navlist">
        <li class="navbit" ><a href="/about">About</a></li>
        <li class="navbit" ><a href="/">Home</a></li>
        <li class="navbit" ><a href="/cars">Car List</a></li>
        <li class="navbit"><a href="/">PiTCRU</a></li>
    </ul>
    <div id="linebox"><div id="loadbox"><div id="navline"></div></div></div>
</div>