<%- include('./partials/head') %>
<body>
  <%- include('./partials/nav') %>
    <section class="rowflex">
        <div class="textbox"><p id="textscroll">PiTCRU delivers an easy to use interface to research basic info on 20,000+ cars! Powered by the API Ninjas database, simply fill out our form on the home page and get pertinent vehicle data such as gas mileage and fuel type in seconds. Not only will you have access to vehicle specifications as documented by manufacturers, but you can get information from real life owners, renters, and lessees to see how the car actually measures up! Simply view the comments on the vehicle details page. Sign up and become an official member of the PiTCRU team to save vehicle data to your profile and leave comments yourself!</p></div>
        <div id="pit-logo"><p>PiTCRU</p></div>
    </section>
</body>
</html>